.outer{
    display: flex;
    align-items: center; 
    width: 100%;
    text-align: center;
    margin-top: 125px;
        
}
.outer-form{
  width: 450px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.outer-description{
    width: 450px;
    text-align: center;
    margin: 0 auto; 
    font-size: 20px;  
}

.textInput{
  display: flex; 
  flex-direction: column; 
  
}

.inputField{
  height: 40px; 
  margin-top: 10px;
  border-radius: 7px;
  padding: 0 10px;
}

.heading{
  font-size: 70px;
  font-weight: 500;
  word-spacing: 3px;
  line-height: 2em;
  padding-top: 5px;
  color: black;
  
}

.submitButton{
  width: 200px;
  height: 50px;
  background-color: black;
  color: white; 
  margin-bottom: 20px;
  border-radius: 5px;

}

.submitButton:hover{
  background-color: white;
  color: black; 
}

#inputCheckboxes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 12px;
  text-align: left;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: lightgray;
  box-shadow: 5px 10px #888888;

}

.checkboxLabel{
  padding-left: 30px;
  color: #040720;
}

.checkboxInput{
  padding-top: 30px;
}


input[type="checkbox"] {
  /* Hide the default checkbox */
  display: none;
}

label {
  /* Style the label to look like a checkbox */
  
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  margin-right: 2px;
  
}

/* Create the checkbox */
label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  background-color: #fff;
}

/* Style the checkbox when it's checked */
input[type="checkbox"]:checked + label:before {
  content: "\2714"; /* Unicode checkmark symbol */
  
  background-color: #ffffff;
  /*ackground-color: */ /* Choose your own color */

  height: 20px;
  width: 20px
}

/* Style the checkbox when it's hovered */
label:hover:before {
  border-color: #666;
}

/* Style the label when the checkbox is disabled */
input[type="checkbox"]:disabled + label {
  color: #aaa;
  cursor: not-allowed;
}

/* Style the checkmark when the checkbox is disabled */
input[type="checkbox"]:disabled + label:before {
  border-color: #ccc;
  background-color: #f0f0f0;
}

.inputField::placeholder{
  text-align: left;
  padding-left: 10px;
}

.grid-container{
    display: flex;
    margin-bottom: 60px;
}

.sub-topic{
    color: 040720;
    text-transform: uppercase;
    text-align: center;
    font-family: Calibri;
    font-size: 36px;
    font-weight: bold;
}

.grid-item{
    border: 2px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    flex:1;
    text-align: center;
    position: relative;
}

.grid-item:hover{
    background-color: #040720;
    color: white;
}

.line {
    border: none;
    border-top: 2px solid   #040720;
    margin-right: 20px;
    margin-left: 20px;
}

.grid-container{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.article-summary{
    margin-bottom: 50px;
    text-align: left;
}

.articleLink{
    display: inline-block;
    padding: 10px;
    border: 2px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    width: 200px;
    
    position: absolute;
    bottom: 10px;
    align: center;

}

.scrollPrompt{
    font-size: 24px;
    margin-bottom: 40px;
    color: red

}

.article-heading{
    font-weight: bold;
    text-transform:capitalize;
    text-align: left;
} 


img{
  width: 20%
}